.invest-slider {
  .ant-carousel .slick-dots {
    bottom: -30px !important;
    li.slick-active button {
      background-color: #f8f7f7;
    }
  }
  .slider-container {
    margin-bottom: 0;
  }
  .show-docs {
    padding-top: 10px;
    span {
      font-size: 20px;
      font-weight: 500;
      color: #405A65;
      display: inline-block;
      width: 80%;
      overflow: hidden;
    }
    button {
      padding-left: 0;
      border: none;
      color: #30A1E2;
      background: transparent;
      font-size: 25px;
      text-shadow: 0px 2px 3px rgba(161, 151, 151, 2.2);
    }
    button:hover {
      color: #337ab7;
      text-shadow: 0px -2px 3px rgba(161, 151, 151, 2.2);
    }
  }
  .doc {
    background: white;
    margin-top: 6px;
    padding: 25px 0;
    box-shadow: 3px 3px 5px 0px rgba(161, 151, 151, 0.2);
    a {
      color: #30A1E2;
    }
    a:hover {
      color: #337ab7;
      text-shadow: 4px 4px 8px rgba(161, 151, 151, 0.2);
    }
    button {
      padding-left: 0;
      border: none;
      color: #30A1E2;
      background: transparent;
      font-size: 25px;
      text-shadow: 0px 2px 3px rgba(161, 151, 151, 2.2);
    }
    button:hover {
      color: #337ab7;
      text-shadow: 0px -2px 3px rgba(161, 151, 151, 2.2);
    }
  }
}