
$break-small-phone: 480px;

::-webkit-input-placeholder {
    color: #6d738c;
}

body{
    box-sizing: border-box;
    -webkit-perspective: 800px;
    perspective: 800px;
    height: 100vh;
    margin: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    font-family: 'Oswald', Arial;
    background: url(/images/construction/bg.jpg)  center top no-repeat #000;
    background-position: 50%, 50%;
}

p {
    color: #5B5E6F;
    font-size: 12px;
    text-align: left;
}

.overlay{
    background: rgba(0,0,0,.5);
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 200%;
    min-height: 580px;
    z-index: 1;
    overflow: hidden;
}


.auth {
    opacity: 1;
    -webkit-transition-timing-function: cubic-bezier(0.68, -0.25, 0.265, 0.85);
    -webkit-transition-property: opacity, box-shadow, top, left, -webkit-transform;
    transition-property: transform, opacity, box-shadow, top, left, -webkit-transform;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transform-origin: 161px 100%;
    transform-origin: 161px 100%;
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    width: 240px;
    border-top: 2px solid #D8312A;
    position: absolute;
    left: 0;
    right: 0;
    margin: 20vh auto 10vh;
    padding: 60px 40px 40px 40px;
    background: linear-gradient(45deg, rgba(53, 57, 74, 0.87) 0%, rgba(31, 34, 46, 0.94) 100%);
    z-index: 100;
    @media (max-width: $break-small-phone) {
        padding: 60px 20px 40px 20px;
    }
}

.auth{
    .validation {
        position: absolute;
        z-index: 1;
        right: 10px;
        top: 8px;
        opacity: 0;
        color: #1ccc1c;
    }
    .disclaimer {
        position: absolute;
        bottom: 20px;
        left: 35px;
        width: 250px;
    }


    .auth-title {
        color: #afb1be;
        height: 60px;
        text-align: left;
        font-size: 16px;
    }

    .success {
        display: none;
        color: #afb1be;
        text-align: center;
        h2{
            color: #afb1be;
            font-size: 16px;
        }
        p {
            text-align: center;
            bottom: 20px;
            width: 250px;
            font-size: 14px;
            line-height: 22px;
            font-weight: 400;
            color:#8d91a3;
            span{
                color: #FFFFFF;
            }
            a{
                color: #afb1be;
            }
        }
        button{
            border-radius: 50px;
            background: transparent;
            padding: 10px 20px;
            border: 2px solid #DC6180;
            color: #DC6180;
            text-transform: uppercase;
            font-size: 11px;
            &:hover {
                color: white;
                background: #DC6180;
                cursor: pointer;
                -webkit-transition-property: background, color;
                transition-property: background, color;
                -webkit-transition-duration: .2s;
                transition-duration: .2s;
            }
            &:focus{
                outline:none;
            }
        }
    }
}

.auth-fields {
    position: relative;
    left:-40px;
    width: 320px;
    .icon {
        position: absolute;
        z-index: 1;
        left: 36px;
        top: 10px;
        opacity: .5;
        color: #8b8d99;
        filter: brightness(1);
        -webkit-transition-property: opacity, filter;
        transition-property: opacity, filter;
        -webkit-transition-duration: .4s;
        transition-duration: .4s;
        @media (max-width: $break-small-phone) {
            left: 20px;
        }
    }

    .icon-animation{
        opacity: 1;
        filter: brightness(1.8);
    }

    .auth-field {
        position: relative;
    }

    .messages>p{
        color: #DC6180;
        text-align: center;
    }
    input[type='password'] {
        color: #DC6180 !important;
    }
    input[type='text'],
    input[type='password'],
    input[type='email'] {
        color: #afb1be;
        width: 190px;
        margin-top: -2px;
        background: #32364a;
        left: 0;
        padding: 10px 65px;
        border-top: 2px solid #393d52;
        border-bottom: 2px solid #393d52;
        border-right: none;
        border-left: none;
        outline: none;
        font-family: 'Gudea', sans-serif;
        font-size: 16px;
        box-shadow: none;
        @media (max-width: $break-small-phone) {
            padding: 10px 45px;
        }
    }

    @media (max-width: $break-small-phone) {
        left: -20px;
        width:280px;
    }

}



.auth-field-submit {
    text-align: center;
    width: 90%;
    margin: 10% auto 5%;

    #forget{
        display: none;
        opacity: 0;
    }

    input {
        border-radius: 50px;
        background: transparent;
        padding: 10px 50px;
        border: 2px solid #DC6180;
        color: #DC6180;
        text-transform: uppercase;
        font-size: 11px;
        &:focus {
            box-shadow: none;
            outline: none;
        }
        &:hover,&:focus {
            color: white;
            background: #DC6180;
            cursor: pointer;
            -webkit-transition-property: background, color;
            transition-property: background, color;
            -webkit-transition-duration: .2s;
            transition-duration: .2s;
        }
    }

    .forget {
        font-size: 14px;
        margin-top: 11px;
        text-decoration: underline;
        a {
            color: #afb1be;
            cursor: pointer;
        }
        @media (min-width: 768px) {
            float: right;
        }
    }
    .signup{
        font-size: 14px;
        margin: 5%;
        text-decoration: underline;
        a {
            color: #afb1be;
        }
    }
}


.processing {
    display: none;
    background: linear-gradient(45deg, #35394a 0%, #1f222e 100%);
    position: absolute;
    left: 0;
    right: 90px;
    margin: auto;
    width: 100px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    padding: 20px 70px;
    top: 200px;
    bottom: 0;
    height: 70px;
    opacity: 0;
    p {
        text-align: center;
        color: white;
    }
}


.goLeft {
    left: -320px !important;
}

.fallDown {
    box-shadow: 0px 20px 30px 3px rgba(0, 0, 0, 0.55);
    pointer-events: none;
    top: -100px !important;
    -webkit-transform: rotateX(70deg) scale(0.8) !important;
    transform: rotateX(70deg) scale(0.8) !important;
    opacity: .6 !important;
    -webkit-filter: blur(1px);
    filter: blur(1px);
}

// material
.material-icons{
    font-size: 20px!important;

}

//iziToast
.iziToast-wrapper{
    box-sizing: border-box;
}