html,
body {
    margin: 0;
    overflow-x: hidden;
    width: 100%;
    min-height:100vh;
    //cursor: none;
    background: black;
    background: linear-gradient(to bottom, #000000 0%, #5788fe 100%);
}

#canvas{
    position: fixed;
}

.filter {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background:  #fe5757;
    animation: colorChange 30s ease-in-out infinite;
    animation-fill-mode: both;
    mix-blend-mode: overlay;
}

@keyframes colorChange {
    0%,
    100% {
        opacity: 0;
    }
    50% {
        opacity: .3;
    }
}

.landscape {
    position: fixed;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    //background-image: url(https://openclipart.org/image/2400px/svg_to_png/250847/Trees-Landscape-Silhouette.png);
    background-size: 1000px 250px;
    background-repeat: repeat-x;
    background-position: center bottom;
}


//.hoverOverlay{
//    background: transparent!important;
//}

.collection{
    margin-top: calc(2vw + 56px);
    margin-bottom: 10vw;
    .collection-group{
        position: relative;
        margin: 5% auto;
        max-width:380px;
        //@media (min-width: 998px) {
        //    width: 380px;
        //}
        //max-width: 450px;
        &:hover{
            cursor: pointer;
        }
        img{
            max-width: 100%;
            height: auto;
            transition: 1000s;
        }
        .overlay{
            position: absolute;
            background: rgba(6, 111, 161, 0.85);
            box-shadow: 5px 5px 1px rgba(102, 154, 192, 0.33);
            padding:1rem;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            z-index: 1;
            color: #dddddd;
            font-size: 1rem;
            text-align: center;
            display: flex;
            justify-content: center;
            flex-direction: column;
            &:hover{
                background: rgba(6, 111, 161, 0.3);
                color:transparent;
            }
            @media (max-width: 480px), (min-width: 768px) and (max-width: 992px) {
                h2{
                    font-size: 1.4rem;
                    margin-bottom: 0.5rem;
                }
                p{
                    margin-bottom: 0;
                }
            }


        }
    }
}