nav{
    z-index:100;
    background: linear-gradient(45deg, rgba(53, 57, 74, 0.3) 0%, rgba(31, 34, 46, 0.6) 100%);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.7);
    .navbar-brand{
        img{
            height: 25px;
            @media (min-width: 992px) {
                transform: scale(1.5) translateX(2vw);
            }
        }
    }
    .navbar-nav{
        width: 100%;
        @media (min-width: 992px) {
            margin-left: 20vw;
        }
    }
    .nav-item{
        flex: 1;
        a{
            color:#1097d5;
            text-transform: uppercase;
            display: inline-block;
        }
    }
}