extends layout
block extendedHead
    title= htmlWebpackPlugin.options.title

block content
    include navigation

    div.landscape
    div.filter
    canvas#canvas

    div.container-fluid.collection
        div.row
            div.col-12.col-sm-10.offset-sm-1
                div.row
                    div.col-sm-12.col-md-6.col-xl-4.offset-xl-2
                        div.collection-group
                            img(src="/images/collections/hylab.png")
                            div.overlay
                                h1 Ouest France
                                p.description Web data-visualisation Project
                                p.date 2016.01 - 2016.02
                            //svg(width="100%", height="100%", style="position: absolute; top: 0; left:0")
                            //    defs
                            //        filter#blur
                            //            fegaussianblur(in="SourceGraphic", stddeviation="3")
                            //    image(filter="url(#blur)", xlink:href="/images/collections/hylab.png", x="0", y="0", height="100%", width="100%")

                    div.col-sm-12.col-md-6.col-xl-4
                        div.collection-group
                            img(src="/images/collections/hylab.png")
                            div.overlay
                                h1 Ouest France
                                p.description Web data-visualisation Project
                                p.date 2016.01 - 2016.02
                            //svg(width="100%", height="100%", style="position: absolute; top: 0; left:0")
                            //    defs
                            //        filter#blur
                            //            fegaussianblur(in="SourceGraphic", stddeviation="3")
                            //    image(filter="url(#blur)", xlink:href="/images/collections/hylab.png", x="0", y="0", height="100%", width="100%")


                    //div.col-12.col-sm-12.col-md-6.col-lg-4
                    //    .card(style="width: 20rem;")
                    //        div.svg-container
                    //            img.card-img-top(src="/images/collections/hylab.png", alt="Card image cap")
                    //            svg(width="100%", height='100%',  style="position: absolute; top: 0; left:0")
                    //                defs
                    //                    filter#blur
                    //                        fegaussianblur(in="SourceGraphic", stddeviation="3")
                    //                image(filter="url(#blur)", xlink:href="/images/collections/hylab.png", x="0", y="0", height='100%', width="100%")
                    //
                    //        .card-body
                    //            p.card-text
                    //                | Some quick example text to build on the card title and make up the bulk of the card's content.
                    //
                    //


block scripts
    //script(src="https://rawgit.com/dataarts/dat.gui/master/build/dat.gui.min.js")