<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Coming Soon</title>

<!--CSS-->
<link rel="stylesheet" href="stylesheets/construction/style.css">
<link rel="stylesheet" href="stylesheets/construction/bootstrap-light.css">
<link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
<link rel="icon" type="image/png" sizes="16x16" href="/images/favicon.ico">
<!--/CSS-->

<!--JS-->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="/javascripts/jquery.plugin.js"></script>

</head>

<body>

<!--DARK OVERLAY-->
<div class="overlay"></div>
<!--/DARK OVERLAY-->

<!--WRAP-->
<div id="wrap">
	<!--CONTAINER-->
	<div class="container">
		<img src="images/construction/paperplane.png" alt="Paper Plane" class="image-align" />
		<h1>
			<span>I'm </span><br/>
			Reaching For <span class="yellow">The Moon.</span>
		</h1>
		<p>This site is currently <strong>under construction</strong> but I'm working hard<br/> to create a new and fresh design.</p>
		<p>You can find my CV <a href="/cv" target="_blank"><strong>here</strong></a></p>
		<p>The hyblab project on data visualization can be found <a href="http://apps.hyblab.fr/ddj2016/ouest_france/" target="_blank"><strong>here</strong></a></p>
		<p class="copyright">All right reserved by <a href="http://shenlinweb.com" target="_blank">shenlinweb.com</a></p>
	</div>
	<!--/CONTAINER-->
</div>
<!--/WRAP-->

</body>
</html>
