doctype html
html
head
meta(http-equiv="Content-Type", content="text/html;charset=utf-8")
meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
title Coming Soon
// CSS
link(rel="stylesheet", href="stylesheets/construction/style.css")
link(rel="stylesheet", href="stylesheets/construction/bootstrap-light.css")
link(href="https://fonts.googleapis.com/css?family=Oswald:400,300,700", rel="stylesheet", type="text/css")
link(rel="icon", type="image/png", sizes="16x16", href="/images/favicon.ico")
// /CSS
// JS
// <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
// <script src="/javascripts/jquery.plugin.js"></script>
body
// DARK OVERLAY
.overlay
// /DARK OVERLAY
// WRAP
#wrap
// CONTAINER
.container
img.image-align(src="images/construction/paperplane.png", alt="Paper Plane")
h1
span I'm
br
| 			Reaching For
span.yellow The Moon.
p
| This page is currently
strong under construction
|  but I'm working hard
br
|  to create a new and fresh design.
p.copyright
| All right reserved by
a(href="https://shenlinweb.com", target="_blank") shenlinweb.com
// /CONTAINER
// /WRAP




<!-- filters -->
