<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>SHEN Lin CV</title>

    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link rel="icon" href="images/favicon.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.7.8/jquery.fullPage.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

</head>
<body>
<div id="fullpage">

    <div id="intro" class="section">
        <div class="container">
            <div class="avatar center-block">
            </div>
            <div class="center-block">
                <p class="name">{{ name }}</p>
                <h5 class="description">{{ description }}</h5>
                <h5 class="email">{{ email }}</h5>
            </div>
        </div>
    </div>


    <div id="skills" class="section container-fluid">
        <div class="row">
            <h1 class="heading"> {{title}} </h1>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-3 ">
                <div class="skill-buttons">
                    <div class="skill-button" v-for="obj in switchButtons">
                        <button class="my-btn" v-on:click="switchFun(obj.english, $event)"
                                v-bind:class="{ 'active': curTab === obj.english }">
                            {{ obj.english }}
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-9 col-md-offset-0 col-sm-11 col-sm-offset-2 col-xs-12"
                 style="max-width:520px;max-height:400px">
                <div id="skillChart"></div>
            </div>
        </div>
    </div>


    <div id="experiences1" class="section container-fluid">
        <div class="row">
            <h1 class="heading"> {{title}} </h1>
        </div>
        <div class="row">
            <div class="experience" v-for="obj in expArray">
                <h2 class="title"> {{ obj.title }} </h2>
                <p class="subject"> {{ obj.subject }} </p>
                <p class="duration"> {{ obj.duration }} </p>
                <p class="description"> {{ obj.description }} </p>
            </div>
        </div>
    </div>

    <div id="experiences2" class="section container-fluid">
        <!--<div class="row">-->
        <!--<h1 class="heading"> {{title}} </h1>-->
        <!--</div>-->
        <div class="row">
            <div class="experience" v-for="obj in expArray">
                <h2 class="title"> {{ obj.title }} </h2>
                <p class="subject"> {{ obj.subject }} </p>
                <p class="duration"> {{ obj.duration }} </p>
                <p class="description"> {{ obj.description }} </p>
            </div>
        </div>
    </div>


    <div id="educations" class="section">
        <div class="container">
            <div class="row">
                <h1 class="heading"> {{title}} </h1>
            </div>
            <div class="row">
                <div class="education" v-for="obj in eduArray">
                    <h2 class="school"> {{ obj.school }} </h2>
                    <h4 class="degree"> {{ obj.degree }} </h4>
                    <p class="duration"> {{ obj.duration }} </p>
                </div>
            </div>
        </div>
    </div>


    <div id="others" class="section container-fluid">
        <div class="row">
            <h1 class="heading"> Others </h1>
        </div>
        <div class="row biglink-container">
            <a class="biglink" href="http://shenlinweb.com">My website</a>
        </div>
        <div class="row biglink-container">
            <a class="biglink" href="http://github.com/shenlin192" target="_blank" rel="external">Github</a>
        </div>
    </div>

</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.17/vue.min.js"></script>
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-74740676-1', 'auto');
    ga('send', 'pageview');
</script>
</body>
</html>
