extends layout

block extendedHead

block content
  div#welcome
    p#browserWidthNotice Make your browser wider.
    p No WebGL. No Canvas. Just pure DOM.
    p
      span#count 175 divs with border-radius and box-shadow.

  a#logo(href="index.html") Velocity
    span#logoDot .js

  div#container

  audio#wonder(autoplay)
    source(src="./wonder.mp3" type="audio/mp3")
    |Your browser does not support HTML5 audio.


