extends layout

block extendedHead
  title= htmlWebpackPlugin.options.title
  link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")



block content
  div#welcome
    p#browserWidthNotice Make your browser wider.
    p
      |The most amazing feeling of
      br
      |programming
      br
      |is the feeling to create and to destory

  div#container

  audio#wonder(autoplay)
    source(src="./wonderWomen.mp3" type="audio/mp3")
    |Your browser does not support HTML5 audio.

  include menu.pug