nav.navbar.navbar-expand-lg
    a.navbar-brand(href='/' target="_blank")
        img(src="/images/logo.png")
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse.justify-content-center
        ul.navbar-nav
            //li.nav-item.active
            //    a.nav-link(href='/')
            //        | Home
            //        span.sr-only (current)
            li.nav-item
                a.nav-link(href='/info' target="_blank") info
            li.nav-item
                a.nav-link(href='/about' target="_blank") About me
            li.nav-item
                a.nav-link(href='/cv' target="_blank") CV
            li.nav-item
                a.nav-link(href='/collections' target="_blank") Collections
            li.nav-item
                a.nav-link(href='/account/login' target="_blank") Log in
            li.nav-item
                a.nav-link(href='/account/signup' target="_blank") Sign up


