nav.navbar.navbar-expand-lg
    a.navbar-brand(href='/' target="_blank")
        img(src="/images/logo.png")
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse.justify-content-center
        ul.navbar-nav
            //li.nav-item.active
            //    a.nav-link(href='/')
            //        | Home
            //        span.sr-only (current)
            li.nav-item
                a.nav-link(href='/info') info
            li.nav-item
                a.nav-link(href='/about') About me
            li.nav-item
                a.nav-link(href='/cv') CV
            li.nav-item
                a.nav-link(href='/collections') Collections
            li.nav-item
                a.nav-link(href='/account/login') Log in
            li.nav-item
                a.nav-link(href='/account/signup') Sign up


