extends layout

block extendedHead
    link(rel='stylesheet', href='css/signup.css')
    link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")

block content
    div.auth
        div.auth-title
            span Sign up an account

        form.auth-fields
            -
                var inputsInfo = [
                {
                    placeholder: "Username",
                    name:"userName",
                    type:"text",
                    icon: "person_outline",
                    validImage: "https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/tick.png"
                },
                {
                    placeholder: "Email",
                    name:"email",
                    type:"email",
                    icon: "email",
                    validImage: "https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/tick.png"
                },
                {
                    placeholder: "Password",
                    name:"password",
                    type:"password",
                    icon: "lock_open",
                    validImage: "https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/tick.png"
                },
                {
                    placeholder: "Confirm Password",
                    name:"confirmPassword",
                    type:"password",
                    icon: "lock_outline",
                    validImage: "https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/tick.png"
                }
                ];

            mixin input-generator(inputInfo)
                div.auth-field
                    div.icon
                        i.material-icons.md-18 #{inputInfo.icon}
                    input(placeholder= inputInfo.placeholder type=inputInfo.type name=inputInfo.name required)
                    div.validation
                        img(src=inputInfo.validImage)

            for inputInfo in inputsInfo
                +input-generator(inputInfo)

            div.auth-field-submit
                input(type='submit' value='Sign up')
                div.forgot
                    a(href='/login') Have an account already?


block scripts
    script(src="js/signup.bundle.js")