#experience-container {
  .save {
    border: none;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 500;
    color: #337ab7;
  }
  .save:hover {
    color: #23527c;
  }
  .steps-title {
    .title1,
    .title2,
    .title3 {
      font-size: 20px;
      font-weight: 500;
      color: #F39400;
      margin-top: 15px;
      margin-bottom: 25px;
    }
    .title2 {
      text-align: center;
    }
    .title3 {
      text-align: right;
    }
  }
  .steps-content {
    @media (min-width: 768px) {
      .experienceOne,
      .experienceTwo,
      .experienceThree {
        height: 500px;
        overflow-y: scroll;
        overflow-x: hidden;
      }
    }
  }
  .steps-action {
    border-top: 3px solid #ECECEC;
    padding-top: 25px;
    button {
      float: right;
      width: 164px;
      height: 40px;
      background: #F39400;
      border: none;
      font-size: 18px;
    }
    button:hover {
      background: #FED8AA;
    }
    .retour {
      float: left;
      color: #B7B7B7;
      display: table;
      vertical-align: middle;
      background: transparent;
    }
    .retour:hover {
      color: #2e78b9;
      background: transparent;
    }
  }
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
  @media (min-width: 0px) and (max-width: 767px) {
    .steps-title {
      .title1,
      .title2,
      .title3 {
        font-size: 18px;
        text-align: initial;
      }
    }
    .steps-content {
      height: auto;
      overflow-y: initial;
    }
    .steps-action {
      button {
        width: 110px;
      }
    }
  }
}