.basicEdit .infoBasic .changePhoto {
  color: #405a65;
  font-size: 14px;
  font-weight: 400;
  border: 2px solid #b7d9ee;
  width: 100%;
  margin-top: 5%;
  text-align: center;
  cursor: pointer;
  border-radius: 5px; }
  @media (min-width: 0px) and (max-width: 767px) {
    .basicEdit .infoBasic .changePhoto {
      line-height: 26px;
      max-width: 200px;
      margin-right: auto;
      margin-left: auto;
      margin-top: 16px; } }

.basicEdit .infoBasic input:focus, .basicEdit .infoBasic textarea:focus {
  background: rgba(112, 189, 255, 0.6) !important;
  transition: all 1s ease-out;
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -ms-transition: all 1s ease-out;
  -o-transition: all 1s ease-out; }

.basicEdit .infoBasic .gris-tag {
  font-size: 14px;
  font-weight: 400;
  color: rgba(40, 30, 29, 0.35); }

@media (min-width: 0px) and (max-width: 400px) {
  .basicEdit .infoBasic .gris-tag {
    font-size: 12px; } }

.basicEdit .infoBasic textarea {
  background: red; }

.basicEdit .infoBasic ::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  color: rgba(59, 87, 99, 0.35); }

.basicEdit .infoBasic :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  color: rgba(59, 87, 99, 0.35);
  opacity: 1; }

.basicEdit .infoBasic ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  color: rgba(59, 87, 99, 0.35);
  opacity: 1; }

.basicEdit .infoBasic :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  color: rgba(59, 87, 99, 0.35); }

.basicEdit .infoBasic :-ms-input-placeholder {
  /* Microsoft Edge */
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  color: rgba(59, 87, 99, 0.35); }

.basicEdit .infoBasic .react-tel-input {
  width: 100%;
  margin-right: 0; }

.basicEdit .infoBasic .react-tel-input input[type=tel] {
  height: 40px;
  background: #F2F4F5;
  border: none;
  box-shadow: none;
  color: #405a65;
  font-weight: 500; }

.basicEdit .infoBasic .react-tel-input .flag-dropdown {
  height: 40px;
  border-radius: 0;
  border: none;
  box-shadow: none; }

.basicEdit .infoBasic .react-tel-input .flag-dropdown:hover .react-tel-input .selected-flag,
.basicEdit .infoBasic .react-tel-input .flag-dropdown:focus .react-tel-input .selected-flag {
  background: #eaeaea; }

.basicEdit .infoBasic .react-tel-input .selected-flag {
  height: 40px; }

@media (min-width: 401px) and (max-width: 767px) {
  .basicEdit .infoBasic .companyBig {
    display: none; } }

@media (min-width: 0px) and (max-width: 400px) {
  .basicEdit .infoBasic .companySmall {
    display: none; }
  .basicEdit .infoBasic .changePhoto {
    font-size: 12px; } }

@media (min-width: 551px) and (max-width: 767px) {
  .basicEdit .infoBasic .dateBig {
    display: none; } }

@media (min-width: 0px) and (max-width: 550px) {
  .basicEdit .infoBasic .dateSmall {
    display: none; } }

@media (min-width: 695px) and (max-width: 767px) {
  .basicEdit .infoBasic .teleBig {
    display: none; } }

@media (min-width: 0px) and (max-width: 694px) {
  .basicEdit .infoBasic .teleSmall {
    display: none; } }

.basicEdit .infoBasic .ant-row.ant-form-item {
  margin-bottom: 15px; }

.basicEdit .infoBasic .ant-select-selection.ant-select-selection--single {
  color: #405a65;
  font-weight: 500;
  border-radius: 0px;
  border: none;
  background: #f2f4f5;
  box-shadow: none;
  padding-top: 6px;
  padding-bottom: 6px;
  font-size: 16px;
  height: 40px;
  margin-right: 15%; }

.basicEdit .infoBasic .year .ant-select-selection.ant-select-selection--single {
  margin-right: 0; }

.basicEdit .infoBasic .year .ant-select-arrow {
  right: 24px !important; }

.basicEdit .infoBasic .country .ant-select-selection.ant-select-selection--single {
  margin-right: 0; }

.basicEdit .infoBasic .country .ant-select-arrow {
  right: 24px !important; }

.basicEdit .infoBasic .ant-select-focused .ant-select-selection.ant-select-selection--single {
  background: rgba(112, 189, 255, 0.6) !important; }

.basicEdit .infoBasic .ant-select-arrow {
  right: 6px !important; }

.basicEdit .infoBasic .control-label {
  color: #405a66; }

.basicEdit .infoBasic .is-validating.has-feedback:after {
  top: 30%; }

.basicEdit .ok {
  background: #F39400; }

.basicEdit .ok:hover {
  background: #F0AD4E; }

.basicEdit .cancel {
  background: rgba(151, 151, 151, 0.33); }

.basicEdit .cancel:hover {
  background: rgba(151, 151, 151, 0.53); }

.basicEdit .ok, .basicEdit .cancel {
  padding-top: 1vw;
  padding-bottom: 1vw; }

@media (min-width: 768px) {
  .basicEdit .ok, .basicEdit .cancel {
    padding-top: 5px;
    padding-bottom: 5px; } }

.infoShow {
  /* basicInfo show*/ }
  .infoShow h4 {
    margin-top: 12px;
    margin-bottom: 12px;
    font-size: 14px;
    font-weight: 400;
    color: #3c5763; }
  .infoShow p {
    margin-top: 5px;
    font-size: 15px;
    font-weight: 400;
    color: #3c5763; }
  .infoShow .identityName {
    font-size: 20px;
    font-weight: 600;
    word-wrap: break-word; }
  .infoShow .identityCompany {
    font-size: 17px;
    margin-top: -1%;
    margin-bottom: 3%;
    font-weight: 400;
    word-wrap: break-word; }
  @media (min-width: 0px) and (max-width: 767px) {
    .infoShow .avatar-container {
      position: relative;
      top: 10vw;
      padding-right: 0; } }
  @media (min-width: 768px) {
    .infoShow {
      margin-top: 24px; } }
  @media (min-width: 501px) {
    .infoShow .showBig {
      display: none; } }
  @media (min-width: 0px) and (max-width: 500px) {
    .infoShow .showSmall {
      display: none; } }
  @media (min-width: 0px) and (max-width: 991px) {
    .infoShow .showInfo h4,
    .infoShow .showBig h4 {
      color: rgba(59, 87, 99, 0.35);
      margin-top: 19px;
      margin-bottom: 6px; }
    .infoShow .identityName {
      font-size: 16px; }
    .infoShow .identityCompany {
      font-size: 16px; } }

@media (min-width: 1200px) {
  #col-city {
    padding-left: 0;
    padding-right: 0; } }
